@font-face {
  font-family: 'Cursive';
  src: url('Cursive.ttf');
}

body{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

#menuMin{
  display: none;
  position: relative;
  background-color: white;
  border: none;
}

#profil{
  background-color: #5DCDFF;
}

#presentation{
  float: left;
  width: 50%;
}

#contact{
  float: right;
  width: 50%;
  
}

#menuMax{
  display: block;
}

#menuCollapse{
  display: none;
  position: fixed;
  width: 100%;
  background: white;
  top: 0;
  z-index: 5;
  margin-bottom: -280px;
  margin-top: 60px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.naviCol{
  text-align: center;
  display: block;
  text-decoration: none;
  color: black;
  padding: 5px;
}
.naviCol:hover{
  text-decoration: none;
  animation: changeColor 1s;
  animation-fill-mode: both;
}

nav{
  z-index: 10;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

section{
  z-index: 1;
}

p{
  margin: 0% 10% 0% 10%;
  font-size: 24px;
}

.navi{
  text-decoration: none;
  color: black;
  padding: 5px;
}

.navi:hover{
  text-decoration: none;
  border-bottom: solid 2px teal;
  animation: changeColor 1s;
  animation-fill-mode: both;
}

.slog{
  margin: 100px 0% 3% 0%;
}

.light{
  color: white;
}

.form-control{
  width: 400px;
}

.center{
  text-align: center;
}

.justify{
  text-align: justify;
  text-justify: inter-word;
}

.tabCenter{
  margin-left: 50%;
  transform: translateX(-50%);
}

footer{
  z-index: 10;
  background-color: white;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-size: 8px;
}


@keyframes slideDown {
    from { margin-bottom: 18%; opacity: 0; }
    to   { margin-bottom: 0%; opacity: 1; }
}

@keyframes slideRight {
    from { margin-right: 18%; opacity: 0; }
    to   { margin-right: 0%; opacity: 1; }
}

@keyframes slideRightMenu {
    from { margin-right: 18%; opacity: 0; }
    to   { margin-right: 15px; opacity: 1; }
}

@keyframes changeColor {
    from { color: black; }
    to   { color: teal; }
}

@keyframes borderFade {
    from { border-bottom: solid 0px green; }
    to   { border-bottom: solid 3px green; }
}

@media screen and (max-width: 780px) {
  #menuMax{
    display: none;
  }
  #menuMin{
    display: block;
    margin-bottom: 25px;
    animation: slideRightMenu 1s;
  }
  #menuCollapse{
    display: none;
    opacity: 0;
    margin-bottom: -280px;
  }

  @keyframes downMenu {
    0% { opacity: 0; margin-bottom: -280px;}
    100% { opacity: 1; margin-bottom: -75px;}
  }
  @keyframes upMenu {
    0% { opacity: 1; margin-bottom: -75px; }
    100% { opacity: 0; margin-bottom: -280px; } 
  }
}
